<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapbox.navigation.core">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application android:theme="@style/AppTheme">
        <provider
            android:name="com.mapbox.navigation.core.accounts.MapboxNavigationAccountsProvider"
            android:authorities="${applicationId}.MapboxNavigationAccountsProvider"
            android:exported="false"
            android:initOrder="200" />
        <service
            android:name=".trip.service.NavigationNotificationService"
            android:foregroundServiceType="location" />

        <meta-data
            android:name="com.mapbox.ManageSkuToken"
            android:value="false" />

        <activity
            android:name=".test.TripServiceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

    </application>
</manifest>
